[Unit]
Description=Gunicorn instance to serve GPS3Vallees Admin
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=user
ExecStart=/home/user/GPS3vallees-admin/gunicorn_start.sh
[Install]
WantedBy=multi-user.target
